.container{
    background-color: lightgrey;
}
.textContainer{
    flex: 1;
    text-align: center;

}

.imgWrapper{
    flex: 1;
}
.imgContainer{
    margin: auto;
    position: relative;
    width: 300px;
    height: 250px;
}
.img{
    border-radius: 20px;
}

@media( max-width: 800px){
    .imgWrapper{
        display: none;
    }
}