.body{
    min-height: calc(100vh - 170px);
}
.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;

}
.itinery{
    height: 100%;
    width: 200px;
    border-radius: 10px;
}
.descContainer{
    word-wrap: break-word;
}


@media(max-width: 800px){
    .container{
        grid-template-columns: 1fr;
    }
}